*.nupkg
*.pyc
.vs/
/TestResults/
/artifacts/
bin/
obj/
/build-dev.count
/build-install.count
BuildTestResults/
Thumbs.db
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
__pycache__/
debug.log
~*.xlsx
*.csproj.user
UpgradeLog.htm
*.db3-shm
*.db3-wal
*.wixproj.user
netcoreapp3.1
outputs
