



MaxCount		In a loop		In two loops
100000			$8905ms			$8590ms
1000000			$48540ms		$49490ms
10000000
